@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Space+Grotesk:wght@400;600&display=swap');
@import "tailwindcss";
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Space+Grotesk:wght@400;600&display=swap') format("woff2");
  }
  @font-face {
    font-family: grotesk;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Space+Grotesk:wght@400;600&display=swap') format("woff2");
  }